.App {
  text-align: center;
}

.Title {
  border: 4px purple solid;
  grid-area: title;
}

.NavBar {
  border: 10px red solid;
  grid-area: nav;
}
.Articles{
  text-align: center;
}
.Links{
  display: flex;
  grid-gap: 2px;

}
.ArticleCard{
  border : 5px blue;
  grid-area: ArticleCard;
}